<div class="d-flex" id="wrapper">

    <div class="container mt-5">

        <div *ngIf="showTable">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <form [formGroup]="selectCategoryForm">
                        <div class="form-group">
                            <small class="form-text text-muted">Select a category</small>
                            <select class="form-control" (change)="getProductsByCategoryId($event.target.value)"
                                formControlName="selectCategory">
                                <option value="0">All categories</option>
                                <option *ngFor="let category of categories" value={{category.categoryId}}>
                                    {{category.categoryName}}
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 table-responsive">
                    <form [formGroup]="selectSupplierForm">
                        <div class="form-group">
                            <small class="form-text text-muted">Select a supplier</small>
                            <select class="form-control" (change)="getProductsBySupplierId($event.target.value)"
                                formControlName="selectSupplier">
                                <option value="0">All suppliers</option>
                                <option *ngFor="let supplier of suppliers" value={{supplier.supplierId}}>
                                    {{supplier.companyName}}
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr class="el-center-text">
                                <th scope="col">Product Id</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Supplier Id</th>
                                <th scope="col">Category Id</th>
                                <th scope="col">Quantity per unit</th>
                                <th scope="col">Unit price</th>
                                <th scope="col">Units in stock</th>
                                <th scope="col">Units in order</th>
                                <th scope="col">Reorder level</th>
                                <th scope="col">Discontinued</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="el-center-text" *ngFor="let product of products">
                                <td> {{product.productId}}</td>
                                <td>{{product.productName}}</td>
                                <td>{{product.supplierId}}</td>
                                <td>{{product.categoryId}}</td>
                                <td>{{product.quantityPerUnit}}</td>
                                <td>{{product.unitPrice}}</td>
                                <td>{{product.unitsInStock}}</td>
                                <td>{{product.unitsInOrder}}</td>
                                <td>{{product.reorderLevel}}</td>
                                <td>{{product.discontinued}}</td>
                                <td><button class="btn btn-primary" (click)="enableEditProduct(product)">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="!showTable">
            <div class="offset-lg-3 col-lg-6 offset-md-3 col-md-6 offset-sm-3 col-sm-12 offset-3 col-12">
                <div class="modal-header">
                    <h1 class="modal-title">Update Product</h1>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editProductForm">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <small class="form-text text-muted">Product name</small>
                                    <input type="text" class="form-control" formControlName="productName" required>
                                    <div *ngIf="editProductForm.controls['productName'].invalid &&
                                           (editProductForm.controls['productName'].dirty ||
                                           editProductForm.controls['productName'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['productName'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group">
                                    <small class="form-text text-muted">Select a category</small>
                                    <select class="form-control" formControlName="categoryId">
                                        <option *ngFor="let category of categories" value={{category.categoryId}}>
                                            {{category.categoryName}}
                                        </option>
                                    </select>
                                    <div *ngIf="editProductForm.controls['categoryId'].invalid &&
                                        (editProductForm.controls['categoryId'].dirty ||
                                        editProductForm.controls['categoryId'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['categoryId'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12 table-responsive">
                                <div class="form-group">
                                    <small class="form-text text-muted">Select a supplier</small>
                                    <select class="form-control" formControlName="supplierId">
                                        <option *ngFor="let supplier of suppliers" value={{supplier.supplierId}}>
                                            {{supplier.companyName}}
                                        </option>
                                    </select>
                                    <div *ngIf="editProductForm.controls['supplierId'].invalid &&
                                           (editProductForm.controls['supplierId'].dirty ||
                                           editProductForm.controls['supplierId'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['supplierId'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Quantity per unit</small>
                                    <input type="text" class="form-control" formControlName="quantityPerUnit" required>
                                    <div *ngIf="editProductForm.controls['quantityPerUnit'].invalid &&
                                               (editProductForm.controls['quantityPerUnit'].dirty ||
                                               editProductForm.controls['quantityPerUnit'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['quantityPerUnit'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Unit price</small>
                                    <input type="text" class="form-control" formControlName="unitPrice" required>
                                    <div *ngIf="editProductForm.controls['unitPrice'].invalid &&
                                               (editProductForm.controls['unitPrice'].dirty ||
                                               editProductForm.controls['unitPrice'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['unitPrice'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Units in stock</small>
                                    <input type="text" class="form-control" formControlName="unitsInStock" required>
                                    <div *ngIf="editProductForm.controls['unitsInStock'].invalid &&
                                               (editProductForm.controls['unitsInStock'].dirty ||
                                               editProductForm.controls['unitsInStock'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['unitsInStock'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Units in order</small>
                                    <input type="text" class="form-control" formControlName="unitsInOrder" required>
                                    <div *ngIf="editProductForm.controls['unitsInOrder'].invalid &&
                                               (editProductForm.controls['unitsInOrder'].dirty ||
                                               editProductForm.controls['unitsInOrder'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['unitsInOrder'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Reorder level</small>
                                    <input type="text" class="form-control" formControlName="reorderLevel" required>
                                    <div *ngIf="editProductForm.controls['reorderLevel'].invalid &&
                                               (editProductForm.controls['reorderLevel'].dirty ||
                                               editProductForm.controls['reorderLevel'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['reorderLevel'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <small class="form-text text-muted">Discontinued</small>
                                    <input type="text" class="form-control" formControlName="discontinued" required>
                                    <div *ngIf="editProductForm.controls['discontinued'].invalid &&
                                               (editProductForm.controls['discontinued'].dirty ||
                                               editProductForm.controls['discontinued'].touched)"
                                        class="alert alert-light pt-0">
                                        <div *ngIf="editProductForm.controls['discontinued'].errors.required">
                                            Shouldn't be empty
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel
                    </button>
                    <button type="button" [disabled]="!editProductForm.valid" class="btn btn-primary"
                        (click)='saveEdit()'>Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!----success product modal -->
    <ng-template #successModal let-modal>
        <div class="modal-header text-center border-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body py-0 text-center">
            <div class="row">
                <div class="col-12">
                    <h3 class="tn-success-color tn-font-size-35">SUCCESS</h3>
                </div>
            </div>

            <label class="mt-3"> {{successModalMessage}} </label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
        </div>
    </ng-template>


    <!----failure product modal -->
    <ng-template #failureModal let-modal>
        <div class="modal-header text-center border-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body py-0 text-center">
            <div class="row">
                <div class="col-12">
                    <h3 class="tn-failure-color tn-font-size-35">Failure</h3>
                </div>
            </div>
            <label class="mt-3"> {{failureModalMessage}} </label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close()">Close</button>
        </div>
    </ng-template>
</div>

<div class="spinnerBox" *ngIf="spin">
    <div class="d-flex justify-content-center">
        <div class="spinner-border loader" role="status">
            <span class="sr-only ">Loading...</span>
        </div>
    </div>
</div>