@media (max-width: 576px) { 
   
    .action-buttons-col-td {
      text-align: left;
      padding: unset;
    }
    .action-buttons-col{
      min-width: 150px;
      padding: 2px;
  }
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    .action-buttons-col {
      width: 20% !important;
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
  
   }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 
  
  }
