/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.el-center-text {
    text-align: center;
}

.tn-failure-color {
    color: #d9534f;
}

.tn-font-size-35 {
    font-size: 35px !important;
}

.tn-success-color {
    color: #5cb85c;
}
